.cell {
  width: 1em;
  height: 1em;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 1em;
  font-size: 3em;
}
.cell.is-winner {
  background-color: lime;
}
.field {
  width: 10em;
  height: 10em;
}

